
/**********inscription*****/
.img1 { 
    margin:0;
    padding:0;
    background: url(../images/pokeball.jpeg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }

  body{
    background-color: transparent !important;

  }
  .formu{
    margin-top: 40px;
    border: 2px solid grey;
    border-radius: 60%;
    background-color: rgba(180, 155, 155, 0.525) !important;
    width: 50%;
    font-weight: bolder;
    font-size: large;
  }


  /**********connexion*****/

  .img{
    background: url(../images/carapuce.jpg) no-repeat center fixed; 

  }
  .formu1 {
    margin-top: 250px !important;
    border: 2px solid grey;
    border-radius: 100%;
    width: 400px;
    height: 250px;
    background: linear-gradient(0deg, rgba(248,242,242,0.6281863087031687) 46%, rgba(242,25,25,0.434908997778799) 62%)!important;
    margin-left: 70%;
    padding: 20px;
     text-align: center; 
     font-weight: bolder;
     font-size: large;
}


  /**********demarrer*****/

  .img3{
    background: url(../images/POKEMON\ GO.jpeg) no-repeat center ;
    border: 20px groove goldenrod;
    animation: AnimpokeName 4s ease 0s 1 normal forwards;
   
  }

  .fond{
    border-radius: 30%;
    text-align: center; 
     font-weight: bolder;
     font-size: large;
     border: 4px solid goldenrod;
     animation: myAnim 5s ease 0s 1 normal both;
  }

    /**********pokeLevel*****/


     /**********animPokeTitre*****/
    @keyframes AnimpokeName {
      0%,
      100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
      }
    
      15% {
        transform: translateX(-30px) rotate(-6deg);
      }
    
      30% {
        transform: translateX(15px) rotate(6deg);
      }
    
      45% {
        transform: translateX(-15px) rotate(-3.6deg);
      }
    
      60% {
        transform: translateX(9px) rotate(2.4deg);
      }
    
      75% {
        transform: translateX(-6px) rotate(-1.2deg);
      }
    }

  /**********animPokefond*****/

    @keyframes myAnim {
      0% {
        background-position: center top;
        background-size: 100%;
      }
    
      100% {
        background-position: center top;
        background-size: 150%;
      }
    }

    /**********pokeAnim*****/

    .pokeAnim{
      animation: pokeAnim 4s linear 0s 1 normal forwards;
    }
    @keyframes pokeAnim {
      0% {
        opacity: 0;
        transform: rotate(-540deg) scale(0);
      }
    
      100% {
        opacity: 1;
        transform: rotate(0) scale(1);
      }
    }